<nav>
  <ul id="menu">
  <div class='container'>
    <li><a href="/">HOME</a></li>
    <li><%= link_to "GET INFORMED"%>
      <ul>
        <li><%= link_to "Signs & Symptoms", "/signs_and_symptoms"%></li>
        <li><%= link_to "Prevention", "/prevention_in_your_area"%></li>
        <li><%= link_to "Resources", "/resources"%></li>
        <li><%= link_to "Statistics", "/statistics"%></li>
      </ul>
    </li>
    <li><%= link_to "THE BTF MOVEMENT"%>
      <ul>
        <li> <%= link_to "Judicial Reform", '/judicial_system' %> </li>
        <li> <%= link_to "Medical Reform", '/medical_insurance' %> </li>
        <li> <%= link_to "Long Term Recovery", '/long_term_recovery' %> </li>
      </ul>
    </li>
    <li><%= link_to "HELP FIGHT ADDICTION"%>
      <ul> 
        <li><%= link_to "Calendar",'/calendar'%></li>
        <li><%= link_to "Volunteer",'/volunteer'%></li>
        <li><%= link_to "Donate",'/donate'%></li>
      </ul>
    </li>
    <li><%= link_to "ABOUT US"%>
      <ul>
        <li><%= link_to "Founders Story ",'/founders_story'%></li>
        <li><%= link_to "Contact Us",'/contact'%></li>
      </ul>
    </li> 
  </div>
  </ul> <!--/.nav -->
</nav>